{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <style type="text/css">
    	img {
		    height: auto; 
		    width: auto; 
		    max-width: 100px; 
		    max-height: 100px;
		}
    </style>
	<h1>Cards</h1>
	<a href="{% url 'card_create' %}">New</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Actions</th>
			</tr>	
		</thead>
		<tbody>
			{% for card in cards %}
			    <tr>
			    	<td class="align-middle"><img src="{{ card.url }}"></td>
			        <td class="align-middle"><a href="{% url 'show_card' card.id %}">{{ card.name }}</a></td>
			        <td class="align-middle">
			        	<a href="{% url 'card_update' card.id %}">Edit</a>
			            <a href="{% url 'card_delete' card.id %}">Delete</a>
			        </td>
			    </tr>
			{% endfor %}
		</tbody>
	</table>

	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-center">
	    <li class="page-item {% if not cards.has_previous %}disabled{% endif %}">
	      <a class="page-link" href="{% if cards.has_previous %}?page={{ cards.previous_page_number }}{% endif %}">Previous</a>
	    </li>



		{% for i in range %}
	    	<li class="page-item {% if cards.number == i|add:'1' %}active{% endif %}"><a class="page-link" href="?page={{i|add:'1'}}">{{i|add:'1'}}</a></li>

		{% endfor %}

	    <li class="page-item {% if not cards.has_next %}disabled{% endif %}">
	      <a class="page-link" href="{% if cards.has_next %}?page={{ cards.next_page_number }}{% endif %}">Next</a>
	    </li>
	  </ul>
	</nav>

{% endblock %}