{% extends "base.html" %}

{% block title %}Shop{% endblock %}

{% block content %}
    <style type="text/css">
    	img {
		    height: auto; 
		    width: auto; 
		    max-width: 100px; 
		    max-height: 100px;
		}
    </style>
	<h1>Shop</h1>
	<p>Do you want to buy one new card ? If you do, you will get one random card</p>

	{% if error %}
		<p>{{ error }}</p>
	{% endif %}

	<form action="" method="post">
		{% csrf_token %}
		<img src="https://cdn.statsroyale.com/images/feature-chests.png?v=2"> --> <button type="submit" class="btn btn-primary">Buy for 50 coins</button>
	</form>
	
	{% if card %}
		<p>Congratulations you get : <img src="{{card.url}}"></p>
	{% endif %}

{% endblock %}