{% extends "../base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}
	<!-- <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/5/59/Clash_Royale_Logo.PNG/800px-Clash_Royale_Logo.PNG"> -->
    <h1>Login</h1>

	{% if next %}
	<p>Page interdite</p>
	{% endif %}

	<p>If you don't have account you can register <a href="{% url 'register' %}">here</a></p>
	<p>If you forget your password you can click <a href="{% url 'password_reset' %}">here</a></p>
	

	<form role="form" class="form-horizontal" method="post" action="{% url 'login' %}">
		{% csrf_token %}
		{{form|crispy}}
	    <input type="submit" name="Login" class="btn btn-primary">
	</form>
{% endblock %}
