{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Deck List{% endblock %}

{% block content %}
	<h1>Decks</h1>
	{% if user.is_staff %}
		<a href="{% url 'deck_create' %}">New</a>
	{% endif %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>User</th>
				<th>Actions</th>
			</tr>	
		</thead>
		<tbody>
			{% for deck in decks %}
			    <tr>
			    	<td class="align-middle"><a href="{% url 'show_deck' deck.id %}">{{ deck.name }}</a></td>
			        <td class="align-middle">{{ deck.user }}</td>
			        <td class="align-middle">
			        	<a href="{% url 'show_deck' deck.id %}">Show</a>
			        	{% if user.is_staff %}
			        		<a href="{% url 'deck_update' deck.id %}">Edit</a>
			            	<a href="{% url 'deck_delete' deck.id %}">Delete</a>
			            {% endif %}
			        </td>
			    </tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}