{% extends "../base.html" %}

{% block title %}Show player{% endblock %}

{% block content %}
	<style type="text/css">
    	img {
		    height: auto; 
		    width: auto; 
		    max-width: 100px; 
		    max-height: 100px;
		}
    </style>
    <div class="row">
    	<div class="col">
    		<h1>{{ user.username }}</h1>
    	</div>
    	<div class="col">
			<h2 class="h1">Clan = Lorem</h2>
    	</div>
    </div>
	<hr>
	<h2>Deck actuel : <em>{{ user.deck.name }}</em></h2>
	{% if user.deck.cards.all|length > 0 %}
		<p>
			{% for card in user.deck.cards.all %}
				<img src="{{ card.url }} ">
			{% endfor %}
		</p>
	{% else %}
		<p>Ce joueur n'a pas encore créer de deck</p>
	{% endif %}
	<hr>
	<h3>Historique des matchs</h3>
	
{% endblock %}