{% extends "../base.html" %}

{% block title %}Show player{% endblock %}

{% block content %}
	<style type="text/css">
    	img {
		    height: auto; 
		    width: auto; 
		    max-width: 100px; 
		    max-height: 100px;
		}
		.micro-img {
		    max-width: 50px; 
		    max-height: 50px;
		}
    </style>
    <div class="row">
    	<div class="col">
    		<h1>{{ player.username }}</h1> {% if user != player%} <a href="{% url 'exchange' player.id %}" class="btn btn-primary">Echanger</a> {% endif %}
    	</div>
    	<div class="col">
    		{% if player.clan != null %}
				<p class="h2"><img class="micro-img" src="https://statsroyale.com/images/clanwars/16000044_magical.png"> <a href="{% url 'show_clan' player.clan.id %}">{{ player.clan.name }}</a></p>
			{% else %}
				<h2>Pas de clan</h2>
			{% endif %}
    	</div>
    </div>
	<hr>
	<h2>Deck actuel : <em>{{ player.deck.name }}</em></h2>
	{% if player.deck.cards.all|length > 0 %}
		<p>
			{% for card in player.deck.cards.all %}
				<img src="{{ card.url }} ">
			{% endfor %}
		</p>
	{% else %}
		<p>Ce joueur n'a pas encore ajouter de cartes à son deck</p>
	{% endif %}
	<hr>

	<h3>Liste des cartes</h3>
		<p>
			{% for card in cards %}
				<img src="{{ card.url }} ">
			{% endfor %}
		</p>

	<hr>
	<h3>Historique des matchs</h3>
	{% if matchs.count == 0 %}
	<p>Aucun match pour le moment !</p>
	{% else %}
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Joueurs</th>
				<th>Statut</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
			{% for match in matchs %}
			<tr>
				<td><a href="{% url 'match_show' match.id %}">{{match.id}}</a></td>
				<td>{{match.player1}} vs {{match.player2}}</td>
				<td>
					{% if match.statut == 0 %}
						<span>pas encore accepter</span>
					{% elif match.statut == 1 %}
						<span class="badge badge-warning">en cours !</span>
					{% elif match.statut == 2 %}
						<span class="badge badge-success">fini</span>
					{% elif match.statut == 3 %}
						<span class="badge badge-danger">refusé</span>
					{% endif %}
				</td>
				<td>{{match.points_player1}} - {{match.points_player2}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
{% endblock %}