<!doctype html>
<html lang="fr">
  <head>
  	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}Base{% endblock %}</title>

    <style type="text/css">
    	body {
		  padding-top: 70px;
		}
    </style>

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'index' %}">Clash Royale</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>

          {% if not user.is_authenticated %}{% endif %}

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_shop' %}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'card_list' %}">Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'deck_list' %}">Decks</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My account</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'my_card_list' %}">My cards</a>
              <a class="dropdown-item" href="#">My deck</a>
            </div>
          </li>
        </ul>
        {% endif %}

        {% if user.is_authenticated %}
        <div class="form-inline my-2 my-lg-0" style="margin-right: 50px;">
          <span style="color: white;"><strong>{{ user.gold }} </strong></span> <img src="https://cdn3.iconfinder.com/data/icons/fatcow/32/coins.png">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'deconnexion' %}">Logout</a>
            </div>
          </div>
        </div>
        {% endif %}    
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
		{% block content %}{% endblock %}
      </div>

    </main>
  </body>
</html>