<!doctype html>
<html lang="fr">
  <head>
  	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <title>{% block title %}Base{% endblock %} | Clash royale</title>

    <style type="text/css">
    	body {
		  padding-top: 70px;
		}
    </style>

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'index' %}">Clash Royale</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>

          {% if not user.is_authenticated %}{% endif %}

          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">Jouer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_shop' %}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'card_list' %}">Cards</a>
          </li>
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'deck_list' %}">Decks</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_list' %}">Joueurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'clan_list' %}">Clans</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'exchange_list' %}">Echanges</a>
          </li>
        </ul>
        {% endif %}

        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <span style="color: white;"><strong>{{ user.gold }} </strong></span> <img src="https://cdn3.iconfinder.com/data/icons/fatcow/32/coins.png">
            </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="accountDropdownLink" data-toggle="dropdown">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                        <a href="{% url 'my_account' %}" class="dropdown-item">Mon compte</a>
                        <a href="{% url 'my_card_list' %}" class="dropdown-item">Mes cartes</a>
                        <a href="{% url 'my_deck_list' %}" class="dropdown-item">Mon deck</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'deconnexion' %}" class="dropdown-item">Deconnexion</a>
                    </div>

                </li>
            {% else %}
                <li class="nav-item">
                    <a href="#" class="nav-link">Inscription</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Connexion</a>
                </li>
            {% endif %}

        </ul> 
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
		{% block content %}{% endblock %}
      </div>

    </main>
  </body>
</html>